*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

section{
    height:700px;
    padding:150px 0;
}

.container{
    width:80%;
    margin:0 auto;
    text-align: center;
}

button{
    background-color: #55C2D8;
    border: none;
}

a{
    text-decoration: none;
}

.hero{
    height:822px;
    background-image: url('../assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-weight:700;
    font-size:48px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.logo{
    margin-bottom: 13px;
}

h2{
    color:rgba(255, 255, 255, 0.7);
    font-size: 24;
    font-weight: 400;
    line-height: 32px;
}

#about{
    background-color: #EEEEEE;
}

#about h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 40px;
    color: #464547;
}

#about h3{
    font-size:24px;
    font-weight: 400;
    line-height: 32px;
    color:#666666;
    margin-bottom: 48px;
}

#about p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 21px;
}

#about button{
    border-radius: 18px;
    color:white;
    text-transform: uppercase;
    font-size:14px;
    letter-spacing: 0.1em;
    width:115px;
    height:36px;
    
}

#stories{
    background-image: url('../assets/IMG_1334_72dpi_RGB_\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#stories h2{
    color:#FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 53px;
}

#stories button{
    width:150px;
    height:150px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 70px;
}

#stories h3{
    font-size: 24px;
    color:#FFFFFF;
    line-height: 32px;
    font-weight: 400;
}

footer{
    background-color: #464547;
    height: 170px;
    padding:20px 50px;
}

footer span{
    text-transform: uppercase;
    color:#FFFFFF;
    margin-left: 16px;
    margin-bottom: 14px;
}

footer p,
footer a,
footer small{
    color:rgba(255, 255, 255, 0.4);
    font-size:14px;
    font-weight: 400;
    line-height: 19px;
}

